h1 {
    text-align: center;
    font-size: 5em;
}

.entry {
    position: relative;
    width: 70%;
    left: 15%;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
}

.hide {
    display: none;
}

.show {
    display: block;
    z-index: 1;
}
/*
.have-read {

}
.read-button {

}

.remove-button {

}
